body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  background-color: #ddd;
}
 
#page {
  font-size: .875em;
  line-height: 1.286em;
  background-color: #fff;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}

#footer {
  margin-top: 50px;
  padding: 0px;
  border-width: 1px 0px 0px 0px;
  border-color: #ccc;
  border-style: dotted;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.9em;
  line-height: 1.3em;
  margin-bottom: 1em;
  margin-top: 0;
}

.channel_block {
  width: 50px;
  display: list-item;
  float: left;
  list-style-type: none;
}
 
h2 {
  font-size: 1.6em;
  font-weight: 400;
  margin-bottom: 1em;
  margin-top: 1.3em;
}
 
h3 {
  font-size: 1.3em;
  line-height: 1.3em;
  margin-bottom: .769em;
  margin-top: 1.3em;
  color: #698;
}
 
a {
  text-decoration: none;
}
 
a {
  color: #698;
  text-decoration: none;
}
 
a:hover {
  text-decoration: underline;
}

img {
  border: 0;
}

#logo-image {
  margin-bottom: 20px;
}

.fixed_width {
  font-family: monospace, Courier;
}

table {
  margin-left: 10px;
  margin-top: 10px;
  background-color: #fff;
  width: 95%;
  border-collapse: collapse;
  font-size: 1em;
}

table th {
  text-align: left;
}

table td {
  padding: 3px;
  border-width: 1px 0px;
  border-color: #ccc;
  border-style: dotted;
  vertical-align: top;
  padding-top: 12px;
  padding-bottom: 12px;
}

label {
  font-weight: bold;
}
